<!DOCTYPE html>
<html>
<head>
<title>CSS Example</title>
<style>
p {
color : red;
}
a {
color : blue;
}
</style>
body {
    font-size: 14px;
    color: navy;
}
h1 {
    color: silver;
    background-color: maroon;
}
body {
    font-family: abel, merriweather, arvo;
    font-size: 14px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}
