<!DOCTYPE html>
<html>
<head>
<title>CSS Example</title>
<style>
p {
color : red;
}
a {
color : blue;
}
</style>
body {
    font-size: 14px;
    color: navy;
}
h1 {
    color: silver;
    background-color: maroon;
}
